{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}

{%block style %}<link rel="stylesheet" href="{% static 'home/style.css' %}" />{%endblock %}

{% block title %}
    {% if category %}
        {{category.name|safe}}
    {% else %}
        Accueil
    {% endif %}
{%endblock%}
{% block article_title %}
    {% if category %}
        {{category.displayed_name|safe}}
    {% else %}
        Accueil
    {% endif %}
{%endblock%}
{% block intro %}
{% if category %}
<p></p>
{%else%}
<p>Sivigik est un site de passionnés de <strong>bidouilles et bricolages</strong> en informatique, électronique ou encore en mécanique. Nous aurons à coeur de vous faire découvrir nos réalisations !</p>
{%endif %}
{% endblock %}
{% block bulle %}

{% if category.comment %}
    <div id="good_sites">
        {{ category.comment | safe }}
    </div>
{%endif%}
{% if good_sites_list %}
{% cache 21600 good_sites %}
    <div id="good_sites">
    <h3>Quelques sites à visiter :</h3>
    <ul>
    {% for site in good_sites_list %}
        <li><a href='http://{{site.link}}'>{{site.name}}</a><br/><div class="comment">{{site.comment}}</div></li>
    {% endfor %}
    </ul>
    </div>
{%endcache%}
{% endif %}
{% endblock %}
{% block content %}
    <div id='pinned'>
            <table>
        {%for event in pinned%}
            {%for article in event.article_set.all %}
            <tr>
                <td class="image"><a href="/article/{{article.pk }}">
                {% if event.image %}
                <img src="{{MEDIA_URL}}{{event.image}}" alt="Img"/>
                {% else %}
                <img src="/static/Svgk.png" alt="Img"/>
                {% endif %}
                </a>
                </td>
                <td><h3>{{event.name}}</h3></td>
                <td><em>par {{article.author.user.username}}</em></td>
            </tr>
            {%endfor%}
        {%endfor%}
            </table>
    </div>
    <div id='events'>
{% cache 10800 event_list event_list%}
{% if event_list %}
    <table>
    {% for event in event_list %}
    {% for article in event.article_set.all %}
        {% if category.comment%}
        {% if not article.is_beta or user.is_authenticated %}
    <tr>
        <td class="image"><a href="/article/{{article.pk }}">
        {% if event.image %}
        <img src="{{MEDIA_URL}}{{event.image}}" alt="Img"/>
        {% else %}
        <img src="/static/Svgk.png" alt="Img"/>
        {% endif %}
        </a>
        </td>
        <td><h3>{{event.name}}</h3></td>
        <td><em>par {{article.author.user.username}}</em></td>
    </tr>
        {%endif%}
        {%endif%}
        {%if good_sites_list%}
    <tr>
        <td class="image"><a href="/article/{{article.pk }}">        
        {% if event.image %}
        <img src="{{MEDIA_URL}}{{event.image}}" alt="Img"/>
        {% else %}
        <img src="/static/Svgk.png" alt="Img"/>
        {% endif %}
        </a></td>
        <td><h3>{{event.name}}</h3></td>
        <td><em>par {{article.author.user.username}}</em></td>
    </tr>
    
        {%endif%}
    {% endfor %}
    {% endfor %}
    </table>
{% else %}
    <table>
    <tr>
    <td>
    <h3>Pas (encore !) d'évènements disponibles.</h3>
    </td>
    </tr>
    </table>
{% endif %}
{% endcache %}
    </div>

{% endblock %}
