{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load emarkdown %}
{% load compress %}

{%block style %}<link rel="stylesheet" href="{% static 'article/style.css' %}" />
<link rel="stylesheet" href="{% static 'article/atelier-dune.dark.css' %}"/>
{% endblock %}

{%block scripts%}
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true,
            },
            messageStyle: "none",
        });
        </script>
        {% compress js %}
        <script src="{% static 'article/highlight.min.js' %}"></script>
        {% endcompress %}
        {% compress js %}
        <script>hljs.initHighlightingOnLoad();</script>
        {% endcompress %}
        <script type="text/javascript" src='https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
        {% javascript_show %}
        <script type="text/javascript">
        function revert_arrow(id)
        {
            var obj = document.getElementById(id);
            if(obj.className=="close")
            {
                obj.className="open";
            }
            else
            {
                obj.className="close";
            }
        }
        </script>
{%endblock%}

{% block title %}{{ article.event.name }}{% endblock %}

{% block article_title %}{{article.event.name}}{%endblock%}

{% block content %}

{% if not user.username and article.is_beta %}
<h3>Vous n'êtes pas autorisé à voir cet article.</h3>
<a href="http://levisiteurdufutur.com/" rel="nofollow"><img src="http://www.heberger-image.fr/data/images/59812_beta_r.gif" alt="c'est une bêta."/></a>

{%else%}


{% if user.username %}<p class="edit_link"><a href="{{article.get_edit_url}}">[Éditer]</a></p>{%endif%}

{%for part in article.parts.all%}
    <div class="article_part" id="part_{{part.id}}">
    <h3 id="title_{{part.id}}"><a href="#part_{{part.id}}">{{part.title}}</a></h3>
    <div id="text_{{part.id}}" class="part">
	{{ part.text|emarkdown|safe }}
    <a href="#content" class="close">&uarr; Réduire</a>
    </div>
    </div>
{%endfor%}
    <br/>
    <br/>
{%endif%}
{% endblock %}
{%block bulle%}
<div id='author'>
<table>
<tr>
    <td>L'auteur</td>
    <td>Autres articles <br />du même auteur</td>
</tr>
<tr>
    <td itemscope itemtype="http://schema.org/Person">
        <img src="{{ MEDIA_URL }}{{ article.author.avatar }}" alt='avatar'/>
        {{ article.author.user.username }}
    </td>
    <td><ul>{% for o_article in article.author.get_five_last_articles %}
            {% if not o_article.is_beta %}
            <li><a href='/article/{{o_article.id}}'>{{o_article.event.name}}</a></li>
            {% endif %}
            {%endfor%}
    </ul></td>
</tr>
<tr>
    <td>    <a href="http://twitter.com/share" class="twitter-share-button"
    data-count="vertical" data-via="Sivigik">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></td>
    </td>
    <td>
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsivigik.alwaysdata.net%2F&amp;width=60&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>
    </td>
</tr>
</table>
</div>

{%endblock%}
