@import url('/static/basic_style.css');
#content {
	background-image : url('http://peanutbutterjellytime.net/images/peanut-butter-jelly-time-93.gif');
	background-repeat : repeat;
}
#content h2 {
	font-family: Grandtitre, sans-serif;
	font-style : normal;
	color : red;
	-moz-transform:rotate(12deg);
	-webkit-transform:rotate(12deg);
	-o-transform:rotate(12deg);
	-ms-transform : rotate(12deg);
	display: block;
}
