@import url('nav.css');
@import url('legal.css');
@font-face {
    font-family: 'Grandtitre';
    src: url('font/DESTROY_-webfont.eot');
    src: url('font/DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/DESTROY_-webfont.woff') format('woff'),
    url('font/DESTROY_-webfont.ttf') format('truetype'),
    url('font/DESTROY_-webfont.svg#DestroyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a
{
    color : blue;
}
body
{
    background: #2071b6;
}
header h1
{
    font-family: Grandtitre, sans-serif;
    color : black;
    text-align: center;
    position: relative;
    top 10px;
    font-size: 8em;
}
header p
{
    color:white;
    text-align: center;
    font-size:2em;
    width: 76%;
    position:relative;
    left: 12%;
}
h2
{
    color : white;
    text-align: center;
    font-size: 4em;
    font-style: italic;
}
#content
{
    position: relative;
    top: 10px;
    left:5%;
    width: 70%;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.baneer
{
    background-color: #9E9E9E;
    z-index: 3;
    position: absolute;
    top: 40px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 95%;
    left: 2.5%;
}
.bulle
{
    float:right;
    width:20%;
    margin:10px;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    z-index: 20;
    box-shadow: 1px 1px black;
}
.bulle img
{
    max-width: 64px;
}
.bulle::before
{
    content: ' ';
    position: relative;
    display: block;
    right:14px;
    top:10px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #FFFFFF; 
}
.floatable
{
    position:fixed;
    top:0px;
    right: 7px;
    
}
@media screen and (max-width: 980px)
{
header h1
{
    top :30px;
    font-size: 5em;
}
h2
{
    font-size: 3em;
}
    #content
    {
        width:90%;
        left: 5%;
    }
.bulle, .floatable
{
    position:relative;
    display: block;
    float: none;
    bottom: 0px;
    width:91%;
    left:4%;
    margin-top:50px;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    z-index: 20;
    box-shadow: 1px 1px black;
    font-size: 0.7em;
}
.bulle::before
{
    content: ' ';
    position: relative;
    top:00%;
    left: 47%;
    display: none;
    width: 0; 
    height: 0; 
    border-top: 10px solid black;
    border-bottom: 10px solid transparent; 
    border-right:10px solid transparent;
    border-left: 10px solid transparent;
}
.bulle::after
{
    content: ' ';
    position: relative;
    top:25px;
    left: 47%;
    display: block;
    width: 0; 
    height: 0; 
    border-top: 10px solid #FFF;
    border-bottom: 10px solid transparent; 
    border-right:10px solid transparent;
    border-left: 10px solid transparent;
}
}

@media screen and (max-width: 400px)
{
header h1
{
    top :30px;
    font-size: 3.5em;
}
h2
{
    font-size: 2em;
}
header p
{
    display: none;
}
    
/*.bulle, .floatable
{
    position:absolute;
    left:0px;
    top:0px;
}*/

}