#legal
{
	max-width:250px;
	background: #706b64;
	box-shadow: 0px 2px 5px #1c1a19;
	color:white;
	padding: 5px;
	padding-left: 0px;
}
#legal a
{
	text-decoration: none;
	font-weight: bold;
	color: white;
}
#hide_legal, #show_legal
{
	transition: all .5s ease-in;
	position:fixed;
	top:40px;
	z-index: 10000;

	left: -260px;
}
#show_legal:target
{
	left:0px;
}
#show_legal:target a#open_legal
{
	display: none;
}
#hide_legal:target #show_legal
{
	left: -260px;
}
#show_legal a#open_legal, #show_legal a#close_legal
{
	display: block;
	position: absolute;
	left: 250px;
	top:10px;
	padding-left: 5px;
	padding-right: 5px;
	background: #706b64;
	color: white;
	font-weight: bold;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 1.5em;
	text-decoration: none;
}
@media screen and (max-width: 900px)
{
	#hide_legal, #show_legal
	{
		top:200px;
		font-size: 0.75rem;
	}
}