nav
{
    background: #706b64;
    position: absolute;
    top : 0px;
    left : 0px;
    width : 100%;
    box-shadow: 0px 2px 5px #1c1a19;
    z-index: 10;
    height : 32px;
}
nav a{
    text-decoration: none;
    font-weight: bold;
}
nav h3
{
    display: none;
    color: white;
}
nav ul{
    
    margin-top: 2px;
    padding: 0;
    list-style-type: none;
}
nav ul li
{
    display: inline;
}
nav ul li a
{    
    transition-property: color;
    transition-duration: 0.5s;
    width:100%;
    height:100%;
    font-weight:bold;
    text-decoration:none;
    color: white;
    margin-left:5px; 
    margin-right:5px;
}
nav ul li a:hover
{
    color: rgb(100, 200, 100);
    transition-property: color;
    transition-duration: 0.5s;
}
nav #user_nav
{
    color:rgb(100, 200, 100);
    display: block;
    position:absolute;
    right: 1%;
    top: 2px;
}
@media screen and (max-width: 980px)
{nav
{
    position:relative;
    height:auto;
}
nav h3
{
    display:block;
    width: 100%;
    text-align:center;
}
nav ul li
{
    border-top : 1px solid silver;
    width:auto;
    padding:3px;
    display: inherit;
}
nav ul li a
{
    display: inline;
    width: 100%;
}
nav ul
{
    list-style-type:circle;
    list-style:initial;
}
nav #user_nav
{
    display: block;
    position:relative;
    border-top: 1px solid silver;
    width:100%;
    text-align: center;
    left: 0px;
}

}
