#content{
    display:inline-block;
    vertical-align:top;
}
#events{
    
    margin-top:5px;
    float:left;
    width: 65%;
}
#content table {

    margin-bottom:10px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    border-radius: 7px;
}
.image {
    width: 64px;
}
#content img {
    border-radius : 10px;
    width: 64px;
}
#good_sites ul
{
    list-style:none;
}
#good_sites li
{
    margin-right : 20px;
}
#good_sites .comment
{
    position : relative;
    left : 10%;
    width : 90%;
}
@media screen and (max-width: 980px){
#events
{
    float:left;
    width:100%;
}
    .bulle, .floatable
    {
        display: none;
    }
}
