#id_text
{
    display:block;
    width:100%;
    height:500px;
}
#id_category, #id_image, #id_title
{
    display: block;
    width:100%;
}
.error
{
	color: red;
}
.errorlist
{
	color:red;
	list-style: none;
	background-color: #FFBB00;
    border-radius: 5px;
    padding: 3px;
}
.errorlist li
{
	background: url('warning.png') no-repeat;
	text-indent: 70px;
    display:block;
    height:40px;
}
textarea
{
    display: block;
    width: 100%;
}
aside#bulle
{
    display: none;
}
#content
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left:0px;
}