#content{
    z-index: 10;
}
#toc
{
    display: none;
}
iframe
{
    max-width:100%;
}
.article_part
{
    font-size: 1.25em;
    color: rgb(50, 50, 50);
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-family: sans-serif;
}
img{
    max-width:100%;
}
#content code
{
    background: rgb(200, 200, 200);
    border: 1px solid silver;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
#content pre code
{
    border-radius : 5px;
    background: #292824;
    overflow: scroll;
    max-width: 100%;
}
#content img
{
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#content .article_part
{
    z-index: 20;
}
#content h3
{
    padding-left: 30px;
    padding-right: 30px;
    background: #FD8900;
    height: 60px;
    width: 75%;
    position: relative;
    left:-50px;
    top: 30px;
    //float: left;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.55);
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: left;
    margin-bottom: 0px; 
}
#content h3::before
{
    content: ' ';
    border-color: transparent #ED7900  transparent transparent;
    border-style:solid;
    border-width:20px;
    height:0px;
    width:0px;
    position: absolute;
    left: -20px;
    top: 41px;
    z-index: -101;
}
#content h3 a
{
    color: #fff;
    text-decoration: none;
}
#content h3 a::after
{
content:'';
display:block;
position:absolute;
top:10px;
left:90%; /*should be set to 100% */
width:0;
height:0;
border-color: transparent transparent transparent white ; /*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;
}
#content .close
{   
    display: block;
    color: red;
    font-size: 0.75em;
    text-align: right;
}
#author table, #author table tr td, #author table tr
{
    background: rgba(0,0,0,0);
    border: none;
}

blockquote
{
    background: rgb(200, 200, 200);
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
}
.part
{
    display: none;
    transition: all .5s ease-in;
}
#content div.article_part:target .part
{
    display: block;
}
#content div.article_part:target h3
{
    margin-bottom: 50px;
}
#content div.article_part:target a:after
{
    border-color: white transparent transparent transparent ;
}
#content h4, #content h4 a
{
    color : #E46510;
    text-indent : 25px;
    font-size : 2rem;
    text-decoration: none;
}
#content h5,#content h5 a, #content h6, #content h6 a
{
    text-indent : 50px;
    text-decoration: none;
    color: black;
}
#content table
{
    background-color:white;
    border-collapse: collapse;
    border : 1px solid grey;
    width:100%;
}
#content table th
{
    background:silver;
    border: 1px solid grey;
}
#content table td{
    border-bottom : 1px solid silver;
    border-left : 1px solid silver;
    padding:5px;
}

#content table caption
{
    background:silver;
    font-weight:bold;
    color:white;
    text-shadow:1px 1px 2px black;
    font-size:1.25em;
    border: 1px solid grey;
}
@media screen and (max-width:980px)
{
.article_part
{
    font-size:0.75em;
}
    #content h3
    {
        width:100%;
    }
    #author table
    {
        width: 100%;
    }
}
@media screen and (max-width:400px)
{
    #content h3
    {
        font-size: 12px;
    }
}